body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: 'Poppins', sans-serif;
}

.loaderContainer{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 0;
  left: 0;
  transition: all .5s;
}

.loader {
  border: 16px solid #EDEDED; /* Light grey */
  border-top: 16px solid #000000; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.headerTab{
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid #EDEDED 2px;
}

#firstTxt{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

h2{
  font-size: 54px;
}

h4{
  font-size: 13px;
  font-weight: 400;
}

#text1{
  width : 50%;
  font-size: 24px;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0;
}

#text2{
  width: 50%;
  font-size: 24px;
  display: inline-block;
  font-weight: 400;
  text-align: right;
}

#text3{
  font-size: 14px;
  font-weight: 400;
}

p{
  font-size: 28px;
  margin-top: 25px;
}

#imgArrow{
  width: 168px;
  height: 58px;
  cursor: pointer;
  margin-top: 25px;
}



#chartdiv {
  width:90%;
  height: 60vh;
  display: none;
  margin: 50px auto 0 auto;
}

.txtChart{
  width: 90%;
  margin: 0 auto;
  opacity: 0;
  transition: all 1s ease;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

